{% extends 'base.html' %} {% macro insert_link(name, url) %}
<li class="nav-item">
  <a class="nav-link" href="{{url}}">{{name}}</a>
</li>
{% endmacro %} {% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Social Manager</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{ insert_link('Home', '/') }}
        {{ insert_link('Email Spammer', '/email') }}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
